<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Hind+Guntur|Patrick+Hand|Sanchez" rel="stylesheet">
    <title>MyService</title>
</head>
<style>
body{
    background-color: #E8C7C1
}
</style>
<body>
 <h1 style="font-family:Hind Guntur, font-size:40px;margin-top:25px;margin-left:25px">Introduction</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="margin-left: 150px; margin-top:30px;width: 25rem; height: 35rem;font-family:Patrick Hand;font-size:30px;">
     <img src="http://dimg.donga.com/egc/CDB/VODA/Article/K02/T2013-0476/5c/8e/2c/0c/5c8e2c0c191c0.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Introduce</h5>
        <p class="card-text">
        My name is 'Suyeong Yang'. I'm studying at Chung-ang Univ. Software-Engineering and I'm working as a 'LIKELION' 7th member. </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="margin-right:150px;margin-top:30px; font-family:Patrick Hand; font-size:30px">
     <img src="https://img.sbs.co.kr/newimg/news/20181011/201237288_1280.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">My service</h5>
        <p class="card-text">
        If users uploads a picture of their clothes in their own closet, 
        my service will identify and classify the characteristics of the clothes and recommend suitable clothes according to the weather and the users' clothes database.
        </p>
      </div>
    </div>
  </div>
</div>

 
</body>
</html>